
@use "base/reset";
@use "base/tipografias";
@use "components/cards";
@use "components/buttons";
@use "components/forms";
@use "layout/header";
@use "layout/navbar";
@use "layout/principal";
@use "layout/footer";
@use "layout/mediaqueries";
@use "utilities/variables";
@use "utilities/mixins";
@use "utilities/animations";
