@use "../utilities/variables" as *;

header {
  background: white;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
}



.top-header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px 10px;
}

.top-header img {
  width: 68px;
  height: 68px;
  object-fit: contain;
}

.top-header h1 {
  font-size: 1.6rem;
  font-weight: 700;
}



.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px 16px;
}


.menu {
  display: flex;
  gap: 26px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  color: #222;
  position: relative;
  padding-bottom: 4px;
  transition: color .2s ease;
}

.menu a:hover {
  color: $color-hover;
}



.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: $color-hover;
  transition: width .25s ease;
}

.menu a:hover::after {
  width: 100%;
}


