@use "../utilities/mixins" as m;


@include m.tablet {

.product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

.banner {
    height: 400px;
  }

}


@include m.mobile {

.top-header {
    flex-direction: column;
    text-align: center;
  }

.navbar {
    flex-direction: column;
    gap: 15px;
  }

.menu {
    flex-direction: column;
    align-items: center;
  }

.product-grid {
    grid-template-columns: 1fr;
  }

.footer-content {
    flex-direction: column;
    text-align: center;
  }

.banner {
    height: 250px;
  }

}
