@use "../utilities/mixins" as m;

@include m.tablet {

.product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

.product-card {
    height: 100%;
  }

.banner {
  height: 400px;
}
}


@include m.mobile {


.top-header {
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.navbar {
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.menu {
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.buscador {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buscador input {
  width: 75%;
}


.product-grid {
  grid-template-columns: 1fr;
  gap: 20px;
}

.product-card {
  max-width: 420px;
  margin: 0 auto;
}

.product-img {
  height: 200px;
}

.footer-content {
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.banner {
  height: 250px;
}
}

