@use "../utilities/variables" as *;

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px 40px;
  background-color: $bg-navbar;
  flex-wrap: wrap;
}
.menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .25s;
}

.menu a:hover {
    opacity: .8;
}
