@use "../utilities/variables" as *;

.banner {
    width: 100%;
    height: 600px;
}

.section-title {
    margin: 60px 0 40px;
    font-size: 2rem;
    text-align: center;
    color: $color-texto;

&::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: $color-hover;
    margin: 10px auto 0;
    border-radius: 2px;
  }
}

.social {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;

img {
    width: 50px;
}
}

.medios-pago {
    padding: 40px 20px;
    text-align: center;
}

.medios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.medio img {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}
