@use "../utilities/variables" as *;



.container {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  margin-top: 70px;
}

.banner {
  width: 100%;
  height: 520px;
  border-radius: 14px;
}

.barra-filtros p {
    text-align: center;
    max-width: 600px;
    margin: 6px auto;
}

.filtros-contenedor {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 30px;
}

.barra-filtros {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.barra-filtros ul {
    list-style: none;
    padding: 0;
}

.barra-filtros li {
    padding: 6px 0;
    transition: 0.3s;
    cursor: pointer;
}

.barra-filtros li:hover {
    color: #c59d5f;
}

.section-title {
  margin-bottom: 35px;
  font-size: 2rem;
  text-align: center;
  color: $color-texto;
  font-weight: 700;

  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: linear-gradient(90deg,#ff7a00,#ff9a3c);
    margin: 12px auto 0;
    border-radius: 2px;
  }
}

.products {
    background: white;
    padding: 35px 30px 45px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,.06);
}


.social {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin-top: 25px;

  img {
    width: 46px;
    transition: transform .2s ease;
  }

  img:hover {
    transform: scale(1.15);
  }
}


.medios-pago {
  padding: 50px 20px;
  text-align: center;
}

.medios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 28px;
  margin-top: 30px;
}

.medio img {
  width: 110px;
  height: auto;
  margin-bottom: 12px;
}

