$bg-general: #000000;
$bg-navbar: #1a1a1a;
$bg-box: #1a1a1a;
$bg-footer: #f1bd83;

$color-letra: #ffffff;
$color-texto: #1a1a1a;
$color-hover: #ffb703;

$color-borde: #d0cecc;
$bg-boton: #918e8e;

$radius: 10px;

$mobile: 600px;
$tablet: 900px;
$desktop: 1200px;
