@use "../utilities/variables" as *;

.btn {
  border: none;
  background: #ffffff;
  color: $color-texto;
  font-weight: 600;
  transition: all .25s ease;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:last-child {
  background: linear-gradient(135deg,#ff7a00,#ff9a3c);
  color: white;
}

.btn:last-child:hover {
  filter: brightness(1.08);
}