@use "../utilities/variables" as *;
@use "../utilities/mixins" as m;

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-items: center;
    padding: 20px;
}

.product-card {
    @include card-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    text-align: center;

  &:hover {
    transform: translateY(-5px);
  }
}

.product-img {
    width: 100%;
    height: 300px;
    background: #fed18e;
    padding: 20px;
    border-radius: $radius;
    margin-bottom: 15px;
}

.imagenCard {
    width: 300px;
}

