@use "../utilities/variables" as *;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color: $color-texto;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}



h1, h2, h3 {
  font-weight: 700;
  letter-spacing: -0.01em;
}

h1 {
  font-size: 1.8rem;
}

.section-title {
  font-size: 2rem;
  font-weight: 800;
}



.product-card h3 {
  font-size: .98rem;
  font-weight: 600;
  color: #1f2937;
}


.price {
    font-size: 1.45rem;
    font-weight: 800;
    letter-spacing: -.01em;
}

.menu a {
    font-size: .95rem;
    font-weight: 600;
}


footer {
    font-size: .92rem;
}
